<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            
            <div class="col-sm-4">
                     
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="email">
                            <br>
                            <button type="button" id="button" class="btn btn-primary btn-lg btn-block">Submit</button>
                        
                      </div>
                      <div id="auth" hidden>
                       
                    
                     
                            <div class="form-group">
                                <label id="qn1" for="secqn"></label>
                                <input type="text" class="form-control" id="vl1" name="secqn" >
                            
                          </div>
                          <div class="form-group">
                            <label for="secqn1" id="qn2"></label>
                            <input type="text" class="form-control" id="vl2" name="secqn1" >
                            <button type="button" onclick="check()" class="btn btn-primary btn-lg btn-block">Submit</button>
                        
                      </div>
                      </div>
                      <div id="pass" hidden>
                      
                        <form onsubmit="pass(event)" action="/change" method="POST">
                            <div class="form-group">
                              <label for="password">New Password</label>
                              <input type="password" class="form-control" id="password" name="password">
                             
                            </div>
                           
                            <div class="form-group">
                                <label for="repassword">Reenter Password</label>
                                <input type="password" class="form-control" id="repassword" name="repassword">
                               
                              </div>
                
                          <button type="submit"  class="btn btn-primary btn-lg btn-block">Submit</button>
                        </form>
                        
                      </div>
               
                  
    
         
          

        </div>
       
        

    </div>
   
</body>
<script>
    var vl1,vl2;
    document.getElementById("button").addEventListener('click',()=>{
        let options = {
            method: 'POST',
            headers: {
                'Content-Type':
                    'application/json;charset=utf-8'
            },
            body: JSON.stringify({email:document.getElementById("email").value})
        }
  let fetchRes = fetch("/forgot",options);
        fetchRes.then(res =>
            res.json())
            .then(d => {
              console.log(d)
              if(d.val===false){
                alert("No such email found")
              }
              else{
                vl1=d.vl1
              vl2=d.vl2
              document.getElementById("qn1").innerHTML=d.qn1
              document.getElementById("qn2").innerHTML=d.qn2
              document.getElementById("auth").hidden=false

              }
             
            })
    })
    function check(){
        if(vl1===document.getElementById("vl1").value && vl2===document.getElementById("vl2").value){
            document.getElementById("auth").hidden=true
            document.getElementById("pass").hidden=false
            console.log(document.getElementById("vl1").value,document.getElementById("vl2").value)
        }
        else{
            alert("Incorrect Security Answers")
        }
    }
    function pass(event){
        event.preventDefault()
        if(document.getElementById("password").value===document.getElementById("repassword").value){
            var myPassword = "mfaauth1234@";
            var pass=document.getElementById("password")
            var repass=document.getElementById("repassword")
            pass.value=CryptoJS.AES.encrypt(pass.value, myPassword);
            repass.value=CryptoJS.AES.encrypt(repass.value, myPassword);
            event.currentTarget.submit();
        }
        else{
            alert("Passwords should match!!")
        }
       
    }

</script>
</html>