<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    html {
  background-color: #10151B;
  background: url(https://images.unsplash.com/photo-1571786256017-aee7a0c009b6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

h1 {
  line-height: .95;
  color: #66fcf1;
  font-weight: 900;
  font-size: 150px;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.center {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 581px;
  height: 50%;
}

.btn {
  margin: 0 auto;
  width: 170px;
  height: 60px;
  padding: 6px 0 0 3px;
  border: 2px solid #66fcf1;
  border-radius: 2px;
  background: none;
  font-size: 16px;
  line-height: 54px;
  color: #fff;
  letter-spacing: .25em;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: background .4s, color .4s;
  transition: background .4s, color .4s;
  cursor: pointer;
}

.btn:hover {
  background: #66fcf1;
  color: #10151B;
}
</style>
<body>
    <div class="center">
        <h1>WELCOME</h1>
        
      </div>
    <script>
      window.addEventListener('load',()=>{
        let setid = setInterval(()=>{
          let mkid='<%-id%>'
          
            let options = {
            method: 'POST',
            headers: {
                'Content-Type':
                    'application/json;charset=utf-8'
            },
            body: JSON.stringify({jwt:mkid})
        }
          fetch("/logout",options)
  
          .then(res=>res.json())
          .then(res=>{
            console.log(res)
            if(!res.hitapi && res.validate=="yes")
            {
              clearInterval(setid)
            }
           else if(!res.hitapi && res.validate=="no")
           {
            window.location.reload();
           }

          })
          
        },3000)
      })
    </script>
    
</body>
</html>